{%extends 'base.html'%}


{%block navhome%}
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
{%endblock%}

{%block navlogin%}
      <li class="nav-item ">
        <a class="nav-link ml-auto active" href="\conta\login">Login</a>
      </li>
{%endblock%}


{%block content%}

<div class="container conteudo bg-dark" style="height: 25rem; margin-top: 140px; margin-bottom: 50px; width: 20rem; border-radius: 60px; padding: 70px; padding-right: 40px; padding-left:40px; padding-top: 80px;">
  {%if request.user.is_anonymous%}
    <form method="post">

    {% if form.errors %}
        <p class="text-danger">Usuario ou Senha invalidos</p>
    {% endif %}


        {%csrf_token%}
        <div class="mb-3">
          <label for="username" class="text-light form-label">Usuario</label>
          <input type="text" class="form-control" id="username" name="username" >
        </div>
        <div class="mb-3">
          <label for="password" class="text-light form-label">Senha</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>

    <center>  <button type="submit" class="btn btn-success">Entrar</button>  </center>
      </form>
    {%else%}
    <h1 class="text-light">Você ja esta logado</h1>
    {%endif%}
</div>
<style>
    .conteudo:hover{
    transform: scale(1.02);
    transition: 1s;
    }
</style>
{%endblock%}